/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
  width: 80%;
  margin: 0 auto;
  background: #e9e9e9;
}

.menu-mobile {
  display: none;
  padding: 20px;
  &:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }
}

.menu-dropdown-icon {
  &:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
  }
}

.menu {
  > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    position: static;
    //position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    > li {
      float: left;
      background: transparent;
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
        padding: 2em 1.2em;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
      }
      > ul {
        display: none;
        width: 100%;
        background: #fff;
        padding: 20px 30px 20px 40px;
        position: absolute;
        z-index: 99;
        left: 0;
        margin: 0;
        border-top: 1px solid #eee;
        list-style: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
        &:before,
        &:after {
          content: "";
          display: table;
        }
        &:after {
          clear: both;
        }
        > li {
          margin: 0;
          padding-bottom: 0;
          list-style: none;
          background: none;
          float: left;
          border-right: 1px solid rgba(189, 188, 188, 0.21);
          margin-right: 35px;
          &:last-child{
            border: none;
            margin-right: 0;
          }
          a {
            color: #333 !important;
            padding: 6px 0;
            width: 95%;
            display: block;
            border-bottom: 1px solid #ccc;
            font-size: 13px;
            margin: 0 auto;
            line-height: 24px;
            text-transform: capitalize;
            &:hover{
              color: $color__theme;
            }
          }
          > ul {
            display: block;
            padding: 0;
            margin: 10px 0 0;
            list-style: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:before,
            &:after {
              content: "";
              display: table;
            }
            &:after {
              clear: both;
            }
            > li {
              float: left;
              width: 100%;
              padding: 3px 0;
              margin: 0;
              a {
                border: 0;
              }
            }
          }
        }
        &.normal-sub {
          width: 200px;
          left: auto;
          padding: 1px 30px;
          > li {
            width: 100%;
            a {
              border: 0;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon {
    &:before {
      display: block;
    }
  }
  .menu {
    > ul {
      display: none;
      > li {
        width: 100%;
        float: none;
        display: block;
        a {
          padding: 1.5em;
          width: 100%;
          display: block;
        }
        > ul {
          position: relative;
          &.normal-sub {
            width: 100%;
          }
          > li {
            float: none;
            width: 100%;
            margin-top: 20px;
            &:first-child {
              margin: 0;
            }
            > ul {
              position: relative;
              > li {
                float: none;
              }
            }
          }
        }
      }
    }
    .show-on-mobile {
      display: block;
    }
  }
}
ul.simple-dropdown li {
    border: none !important;
    margin: 0;
}
.menu > ul > li > ul.menu-col-6 > li{
  width: calc(16% - 30px);
}
.menu > ul > li > ul.menu-col-5 > li{
  width: calc(20% - 30px);
}
.menu > ul > li > ul.menu-col-4 > li{
  width: calc(25% - 30px);
}
.menu > ul > li > ul.menu-col-3 > li{
  width: calc(33.33% - 30px);
}
.menu > ul > li > ul.menu-col-2 > li{
  width: calc(50% - 30px);
}
.header-default .menu > ul > li a{
  color: #333;
}
.header-transparent .menu > ul > li a,.menu-widget ul li a {
  color: #fff;
}
.menu > ul > li i {
    font-size: 20px;
}
.nav-wrapper.header-transparent {
    position: absolute !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}

.menu-widget ul{
  margin: 0;
  padding: 0;
}
.menu-widget ul li {
    float: left;
    background: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-widget ul li a {
    text-decoration: none;
    padding: 2em 1.2em;
    display: block;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.menu-widget ul li a i{
  font-size: 20px;
}
.navbar-right .menu-widget ul li a {
    text-decoration: none;
    padding: 1.5em 1.2em;
}



/*Midheader*/
.header-mid {
    background: #fff;
    // padding: 25px 0;
    // padding-top: 30px;
}
.quick-contact-wrap {
    text-align: right;
}
.quick-contact-wrap ul{
    padding:0;
    margin: 0;
    list-style:none
}
.quick-contact-wrap ul li {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
}
.quick-contact-wrap ul li:last-child {
    margin-right: 0;
}
.quick-contact-wrap li h5 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: 700;
}
.quick-contact-wrap li .icon {
    margin-right: 25px;
}
.quick-contact-wrap li .icon i {
    font-size: 33px;
    margin-top: 8px;
}
.quick-contact-wrap li .quick-desc span{
    display: block;
    font-size: 12px;
}
.meganav-wrapper {
    border-top: 1px solid #eee;
}
.header-extended {
    padding: 15px 0 5px 0;
}
