$color__background-body: #fff;
$color__background-button: #00bbff;

$color__default_font: #888;
$color__title_font: #333;
$color__theme: #00bbff;



$title-family:  'Poppins';
$text-btn:  'Poppins';
$default-family: "Open Sans";
