$color__background-body: #fff;
$color__background-button: #7a90ff;

$color__default_font: #888;
$color__title_font: #333;
$color__theme: #7a90ff;


$title-family:  'Poppins';
$text-btn:  'Poppins';
$default-family: "Open Sans";
