ul.manang-multicheck-sortable-list .manang-multicheck-sortable-handle{
	float: right;
	cursor: move;
}
ul.manang-multicheck-sortable-list li{
	padding: 7px;
	border: 1px solid #e5e5e5;
	background: #fafafa;
}
.manang-hideme{
	display: none !important;
}

/* Customizer ovrerides */
.customize-control select {
    height: 35px;
}
#customize-controls .customize-info .accordion-section-title {
        background: rgba(28,186,200,0.7);
    color: #fff;
    border-bottom: none;
}
.control-section:first-child > h3.accordion-section-title {
    display: block !important;
}
#customize-controls .panel-meta.customize-info .accordion-section-title:hover {
    background: rgba(28,186,200,0.7);
    color: #fff;
}
#customize-theme-controls .control-section-themes .accordion-section-title:hover {
    color: #555 !important;
    background-color: #fff !important;
}
.customize-section-title {
    background: rgba(28,186,200,0.7);
    color: #fff;
}
.customize-section-title h3, h3.customize-section-title {
    color: #fff;
    padding: 14px 10px 12px 14px;
}
.control-section-themes .accordion-section-title {
    margin: 0;
}
#customize-controls .customize-info{
	margin-bottom: 0;
}
#customize-theme-controls .control-section {
    background: #fff;
    border-bottom: 1px solid #eee;
}
.control-section-themes .accordion-section-title {
    margin: 0;
}
#customize-theme-controls .control-section:first-child {
    padding: 11px 0 11px 0;
}
#customize-theme-controls .control-section:first-child:hover .accordion-section-title {
    background: #fff !important;
    color: #555;
}
#customize-controls .accordion-section-title {
    border-bottom: none;
    display: flex;
}
.control-section .accordion-section-title {
    padding: 12px 10px 16px 14px;
    line-height: 26px;
}
.control-section .accordion-section-title:after {
    top: 16px;
}
#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title{
	background: rgba(28,186,200,0.7);
	color: #fff;
}
.customize-panel-back:focus, .customize-panel-back:hover, .customize-section-back:focus, .customize-section-back:hover {
    background: #f5f5f5 !important;
}
.customize-panel-back, .customize-section-back {
    height: 78px;
    background: rgba(28,186,200,0.7) !important;
    color: #fff;
}
input[type=text], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=search], select, textarea {
    border: 1px solid rgba(0, 0, 0, 0.33);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    padding: 6px 13px;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
}
.accordion-section-content .customize-section-back{
    height: 78px;
}

#customize-theme-controls .control-section > h3.accordion-section-title:before{
	font-family: dashicons;
    font-size: 21px;
    margin-right: 14px;
}


li#accordion-panel-theme_options > h3.accordion-section-title:before {
	content: "\f111";
}
li#accordion-section-title_tagline > h3.accordion-section-title:before {
	content: "\f319";
}
li#accordion-section-cpm_framework_font_section > h3.accordion-section-title:before {
	content: "\f210";
}
li#accordion-section-colors > h3.accordion-section-title:before{
	content: "\f100";
}
li#accordion-section-header_image > h3.accordion-section-title:before{
	content: "\f161";
}
li#accordion-section-background_image > h3.accordion-section-title:before{
	content: "\f128";
}
li#accordion-panel-nav_menus > h3.accordion-section-title:before{
	content: "\f333";
}
li#accordion-panel-widgets > h3.accordion-section-title:before{
	content: "\f479";
}
li#accordion-section-static_front_page > h3.accordion-section-title:before{
	content: "\f105";
}

li#accordion-section-header_options > h3.accordion-section-title:before{
	content: "\f134";
}
li#accordion-section-banner_options > h3.accordion-section-title:before{
	content: "\f115";
}
li#accordion-section-latest_blog_options > h3.accordion-section-title:before{
	content: "\f116";
}
li#accordion-section-product_options > h3.accordion-section-title:before{
	content: "\f109";
}
li#accordion-section-product_category_options > h3.accordion-section-title:before{
	content: "\f157";
}
li#accordion-section-cta_options > h3.accordion-section-title:before{
	content: "\f480";
}
li#accordion-section-skills_options > h3.accordion-section-title:before{
	content: "\f118";
}
li#accordion-section-sidebar_home_options > h3.accordion-section-title:before{
	content: "\f136";
}
li#accordion-section-team_options > h3.accordion-section-title:before{
	content: "\f307";
}
li#accordion-section-service_options > h3.accordion-section-title:before{
	content: "\f488";
}
li#accordion-section-testimonial_options > h3.accordion-section-title:before{
	content: "\f130";
}
li#accordion-section-clients_options > h3.accordion-section-title:before{
	content: "\f338";
}
li#accordion-section-social_options > h3.accordion-section-title:before{
	content: "\f301";
}
li#accordion-section-portfolio_options > h3.accordion-section-title:before{
	content: "\f322";
}
li#accordion-section-footer_options > h3.accordion-section-title:before{
	content: "\f479";
}
li#accordion-section-change_css > h3.accordion-section-title:before{
	content: "\f463";
}
li#accordion-section-sortable > h3.accordion-section-title:before{
	content: "\f156";
}

li#accordion-section-contact_page > h3.accordion-section-title:before{
    content: "\f525";
}
li#accordion-section-mailchimp_options > h3.accordion-section-title:before{
    content: "\f466";
}
