.style1 .facebook {
  background-color: #3b5998;
}
.style1 .twitter {
  background-color: #1da1f2;
}
.style1 .gplus {
  background-color: #dd4b39;
}
.style1 .dribble{background-color :#ea4c89}
.style1 .flickr{background-color :#ff0084}
.style1 .pinterest{background-color :#c8232c;}
.style1 .youtube{background-color :#c4302b;}
.style1 .github{background-color :#171515;}
.style1 .linkedin{background-color :#0e76a8;}
.style1 .tumblr{background-color :#34526f;}

.style1.social-icon li {
    display: inline-block;
}
.style1.social-icon li div {
  cursor: pointer;
  color: #fff;
    margin-right: 15px;
  text-align: center;
  display: inline-block;
  box-shadow: 4px 2px 8px -4px rgba(0,0,0,0.75);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.style1.social-icon li div:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border-radius: 100px;
}
.social-icon.style1,.social-icon.style2,.social-icon.style3 {
    display: inline-block;
    list-style: none;
}

.social-icon-big.social-icon li div{
    width: 120px;
    height: 120px;
    font-size: 53px;
    text-align: center;
    line-height: 120px;
}

.social-icon-med.social-icon li div{
    width: 80px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
}
.social-icon-small.social-icon li div{
    width: 50px;
    height: 50px;
    font-size:20px;
    text-align: center;
    line-height: 50px;
}

// Style2
.style2.social-icon li div {
    display: inline-block;
    background-color: #fff;
    margin-left: 0 !important;
    margin-right: 15px !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.2);
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
}
.style2.social-icon li div:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.79);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.79);
}
.style2.social-icon li div i {
    vertical-align: middle;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
}
.style2 .facebook:before {
  background-color: #3b5998;
}
.style2 .twitter:before {
  background-color: #1da1f2;
}
.style2 .gplus:before {
  background-color: #dd4b39;
}
.style2 .dribble:before{background-color :#ea4c89}
.style2 .flickr:before{background-color :#ff0084}
.style2 .pinterest:before{background-color :#c8232c;}
.style2 .youtube:before{background-color :#c4302b;}
.style2 .github:before{background-color :#171515;}
.style2 .linkedin:before{background-color :#0e76a8;}
.style2 .tumblr:before{background-color :#34526f;}

.style2 .facebook {
  color: #3b5998;
}
.style2 .twitter {
  color: #1da1f2;
}
.style2 .gplus {
  color: #dd4b39;
}
.style2 .dribble{color :#ea4c89}
.style2 .flickr{color :#ff0084}
.style2 .pinterest{color :#c8232c;}
.style2 .youtube{color :#c4302b;}
.style2 .github{color :#171515;}
.style2 .linkedin{color :#0e76a8;}
.style2 .tumblr{color :#34526f;}

.style2.social-icon li div:hover:before {
    top: -10%;
    left: -10%;
}

.style2.social-icon li div:hover i {
    color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.style2.social-icon li {
    display: inline-block;
}

// Style3

.style3.social-icon li div {
  display: inline-block;
  margin-right: 15px;
  border-radius: 100%;
  position: relative;
}
.style3.social-icon li div::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  background: #f5f5f5;
  z-index: -1;
}
.style3.social-icon li div::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 100%;
  z-index: -1;
}
.style3.social-icon li div:hover {
  animation-name: bubble2;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.style3.social-icon li div:hover::after {
  animation-name: bubble;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.style3 .facebook::after {
  background: #3b5998;
}
.style3 .twitter::after {
  background: #1da1f2;
}
.style3 .gplus::after {
  background: #dd4b39;
}
.style3 .dribble::after{background :#ea4c89}
.style3 .flickr::after{background :#ff0084}
.style3 .pinterest::after{background :#c8232c;}
.style3 .youtube::after{background :#c4302b;}
.style3 .github::after{background :#171515;}
.style3 .linkedin::after{background :#0e76a8;}
.style3 .tumblr::after{background :#34526f;}

.style3 .facebook {
  color: #3b5998;
}
.style3 .twitter {
  color: #1da1f2;
}
.style3 .gplus {
  color: #dd4b39;
}
.style3 .dribble{color :#ea4c89}
.style3 .flickr{color :#ff0084}
.style3 .pinterest{color :#c8232c;}
.style3 .youtube{color :#c4302b;}
.style3 .github{color :#171515;}
.style3 .linkedin{color :#0e76a8;}
.style3 .tumblr{color :#34526f;}
.style3.social-icon li {
    display: inline-block;
}

@-moz-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-o-keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@keyframes bubble {
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@-o-keyframes bubble2 {
  100% {
    color: #fff;
  }
}
@keyframes bubble2 {
  100% {
    color: #fff;
  }
}
