.about-sec{
    outline: 0;
    padding: 80px 0;

    .about-us-title{
        margin-top: 0;
        span{
            font-size: 19px;
            color: #333;
        }

        h2{
            font-family: "Poppins";
            font-size: 30px;
            color: #444;
            line-height: 36px;
            margin-top: 5px;
            letter-spacing: 0;
            font-weight: 500;
            margin-bottom: 25px;
        }
    }
    .aboutus-wrapper{
    margin-bottom: 45px;
    }
    .row{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .callout-item.icon-top{
        text-align: left;
        .callout-icon{
            width: 60px;
            height: 60px;
            background: #7a90ff;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            i{
                font-size: 27px;
                color: #fff;
            }
        }
        h3 {
            margin: 0;
            font-size: 18px;
            text-transform: capitalize;
            margin-top: 14px;
            margin-bottom: 7px;
        }
    }
    .abt-img img {
        max-width: 437px;
        position: absolute;
    }
}
