.plax-wrap{
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.mg-banner-wrapper{
    background: url("../img/business.jpeg");
    height: 100vh;
    min-height: 100vh;
    outline: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;

     &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .73;
        content: '';
        background: #000;
    }
    .banner-text-wrap{
        position: relative;
        z-index: 99;
        text-align: center;
        padding-top: 0;
        max-width: 600px;
        display : table-cell;
        vertical-align: middle;
        margin-left: 0;
        padding-right: 50px;
        padding-left: 50px;
            h2{
            font-size: 65px;
            font-family: $title-family;
            color: #fff;
            text-transform: uppercase;
            margin-top: 0;
            font-weight: 700;
             margin-bottom: 18px;
             line-height: 63px;
             span{
                color: $color__theme;
             }
        }
        img{
            margin-bottom: 20px;
        }
        p{
            color: #fff;
        }
        .btn-default{
            margin-top: 30px;

            &:hover{
                color: #fff;
                background: transparent;
            }
        }
    }
}

// Video
.videobg-wrapper{
    height: 100vh;
    min-height: 100vh;
    outline: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    overflow: hidden;

    &:before{
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
    }
    .banner-text-wrap{
        position: relative;
        z-index: 99;
        text-align: center;
        padding-top: 0;
        max-width: 600px;
        display : table-cell;
        vertical-align: middle;
        margin-left: 0;
        padding-right: 50px;
        padding-left: 50px;
            h2{
            font-size: 65px;
            font-family: $title-family;
            color: #fff;
            text-transform: uppercase;
            margin-top: 0;
            font-weight: 700;
             margin-bottom: 18px;
             line-height: 63px;
             background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             span{
                background: #fff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
             }
        }
        img{
            margin-bottom: 20px;
        }
        p{
            color: #fff;
            letter-spacing: 8px;
            text-transform: uppercase;
        }
        .btn-default{
            margin-top: 30px;

            &:hover{
                color: #fff;
                background: transparent;
            }
        }
    }
}

.mg-banner-slider{
    overflow: hidden;

    .slider2{
         background: url("../img/blog1.jpg");
    }
    .slider1{
         background: url("../img/business.jpeg");
    }
    .slider3{
         background: url("../img/photo1.jpg");
    }
    .slider-item{
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center center;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        outline: 0;
        position: relative;
         &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .6;
            content: '';
            background: #000;
        }
        .banner-text-wrap{
            position: relative;
            z-index: 99;
            text-align: center;
            padding-top: 90px;
            overflow: hidden;
            padding-bottom: 35px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
                h2{
                font-size: 50px;
                font-family: $title-family;
                color: #fff;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 700;
                 margin-bottom: 18px;
                 line-height: 63px;
                background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                span{
                    background: #fff;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p{
                color: #fff;
                letter-spacing: 8px;
                text-transform: uppercase;
            }
            img{
                margin: 0 auto;
                margin-bottom: 20px;
            }
            .btn-default{
                margin-top: 30px;
                &:hover{
                    color: #fff;
                    background: transparent;
                }
            }
        }
    }
    button.slick-next{
        right: -15px;
    }
    button.slick-prev{
        left: -20px;
    }
}


.mg-banner-slider:hover button.slick-next{
  opacity: 1;
  right: 15px;
}
.mg-banner-slider:hover button.slick-prev{
  opacity: 1;
  left: 20px;
}
a.btn-default.btn-white {
    background: #fff;
    border: 2px solid #fff;
    color: #444;
    margin-right: 20px;
}
