.client-sec{

    img{
        max-width: 150px;
        opacity: 0.6;
    }
    .client-image-wrapper {
        text-align: center;
        box-shadow: 1px 1px 0 0 #eee;
        margin-bottom: 0;
        height: 150px;

        img:hover{
            opacity: 1;
        }
    }
    .row:last-child .client-image-wrapper{
        box-shadow: 1px 0 0 0 #eee;
    }
}
