.counter-sec{
    background: #1f252c;
    text-align: center;

    h3.timer{
        font-size: 33px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
        margin-top: 15px;
    }
    span{
        color: #fff;
    }
    i{
        font-size: 50px;;
    }
}
