.cta-sec{
    padding: 80px 0;
    text-align: center;
    background: #1f252c;

    .cta-content{
        h2{
            margin: 0;
            margin-bottom: 10px;
            font-size: 31px;
            text-transform: uppercase;
            font-family: Poppins;
            font-weight: 500;
            color: #fff;
        }
        p{
            margin-bottom: 20px;
            color: #fff;
        }
        .btn-default{
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
        }
    }
}
