.mg-event.style1{
    margin-left: 35px;
    ul{
        padding:0;
        margin: 0;
        list-style: none;
        .event-title{
            h3{
                margin: 0;
                color: #444;
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
        .sl-btn{
            background: $color__theme;
            border-color: $color__theme;
        }
        .event-date{
            p{
                color: #444;
                display: block;
                text-align: left;
                font-size: 43px;
                margin-left: 11px;
                margin-top: 3px;
                text-align: center;
                font-weight: bold;

            }
            span{
                display: block;
                font-size: 14px;
                margin-top: 10px;
                font-family: Poppins;
                font-weight: normal;
            }
        }
        .event-location{
            .location{
                color: #444;
                font-size: 16px;
                margin-bottom: 7px;
            }
        }
        .event-thumb{
           text-align: center;
            display: inline-block;
            float: left;
            img{
                max-height: 70px;
                margin: 0 auto;

            }
        }
        .event-title {
            margin-left: 120px;
        }
        li{
            border-bottom: 1px solid #eee;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            padding: 25px 0;
            &:hover{
                -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
                box-shadow: 0 20px 40px rgba(0,0,0,0.1);
                -webkit-transform: translate(0px, -4px);
                -moz-transform: translate(0px, -4px);
                -ms-transform: translate(0px, -4px);
                -o-transform: translate(0px, -4px);
            }
            p {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}

.mg-event.style2{
    .event-wrap {
        height: 420px;
        background-size: cover;
        width: 45%;
        float: left;
    }
    .event-desc-wrap {
        width: 55%;
        float: left;
        height: 100%;

        .event-desc{
            background: #272e37;
            padding: 50px;
            padding-bottom: 20px;
            position: relative;

            h3{
                margin-top: 0;
                font-size: 25px;
                font-weight: 500;
                max-width: 400px;
                word-wrap: break-word;
                line-height: 33px;

                a{
                    color: #fff;
                    text-decoration: none;
                }
            }

            span.event-day {
                position: absolute;
                right: 33px;
                top: 33px;
                background: #d83986;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                p{
                    margin-top: 24px;
                    line-height: 30px;
                }
                span {
                    font-size: 42px;
                    display: block;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }
    .event-footer {
        background: #2f3740;
        padding: 40px 50px;

        a.btn.btn-default {
            margin-top: 25px;
            width: 75%;
            margin: 0 auto;
            display: block;
            border-radius: 4px;
        }

        p{
            margin-bottom: 30px;
        }
    }

    .event-meta {
        width: 100%;
        margin-top: 50px;

         span {
            width: 50%;
            display: inline-block;

            i{
                width: 33px;
                float: left;
                font-size: 22px;
            }

            h4{
               color: #fff;
                font-size: 17px !important;
                margin-top: 0px !important;
            }

            .event-loc-detail,.event-time-detail{
                margin-left: 35px;
            }
            p {
                font-size: 14px;
            }
        }
        span.event-loc{
            float: left;
        }
    }
}
