.mg-event.style1{
    margin-left: 35px;
    ul{
        padding:0;
        margin: 0;
        list-style: none;
        .event-title{
            h3{
                margin: 0;
                color: #444;
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
        .sl-btn{
            background: $color__theme;
            border-color: $color__theme;
        }
        .event-date{
            p{
                color: #444;
                display: block;
                text-align: left;
                font-size: 43px;
                margin-left: 11px;
                margin-top: 3px;
                text-align: center;
                font-weight: bold;

            }
            span{
                display: block;
                font-size: 14px;
                margin-top: 10px;
                font-family: Poppins;
                font-weight: normal;
            }
        }
        .event-location{
            .location{
                color: #444;
                font-size: 16px;
                margin-bottom: 7px;
            }
        }
        .event-thumb{
           text-align: center;
            display: inline-block;
            float: left;
            img{
                max-height: 70px;
                margin: 0 auto;

            }
        }
        .event-title {
            margin-left: 120px;
        }
        li{
            border-bottom: 1px solid #eee;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            padding: 25px 0;
            &:hover{
                -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
                box-shadow: 0 20px 40px rgba(0,0,0,0.1);
                -webkit-transform: translate(0px, -4px);
                -moz-transform: translate(0px, -4px);
                -ms-transform: translate(0px, -4px);
                -o-transform: translate(0px, -4px);
            }
            p {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}

.mg-event.style2{
    .event-wrap {
        background-size: cover;
        width: 45%;
        float: left;
        height: 495px;
    }
    .event-desc-wrap {
        width: 55%;
        float: left;
        height: 495px;

        .event-desc{
            background: #272e37;
            padding: 50px;
            padding-bottom: 20px;
            position: relative;

            h3{
                margin-top: 0;
                font-size: 25px;
                font-weight: 500;
                max-width: 400px;
                word-wrap: break-word;
                line-height: 33px;

                a{
                    color: #fff;
                    text-decoration: none;
                }
            }

            span.event-day {
                position: absolute;
                right: 33px;
                top: 33px;
                background: #d83986;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                p{
                    margin-top: 24px;
                    line-height: 30px;
                }
                span {
                    font-size: 42px;
                    display: block;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }
    .event-footer {
        background: #2f3740;
        padding: 40px 50px;

        a.btn.btn-default {
            margin-top: 25px;
            width: 75%;
            margin: 0 auto;
            display: block;
            border-radius: 4px;
        }

        p{
            margin-bottom: 30px;
        }
    }

    .event-meta {
        width: 100%;
        margin-top: 50px;

         span {
            width: 50%;
            display: inline-block;

            i{
                width: 33px;
                float: left;
                font-size: 22px;
            }

            h4{
               color: #fff;
                font-size: 17px !important;
                margin-top: 0px !important;
            }

            .event-loc-detail,.event-time-detail{
                margin-left: 35px;
            }
            p {
                font-size: 14px;
            }
        }
        span.event-loc{
            float: left;
        }
    }
}


.single-event-content h2 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}
//post navigation

.event-navigation{
    margin-top: 50px;
    .post-navigation{
        .nav-previous{
            width: 50%;
            float: left;
            background: #f5f5f5;
            padding: 15px;
            .post-nav-content {
                position: relative;
                margin-left: 145px;
                top: 0px;
                a{
                    color: $color__theme;
                    font-size: 15px;
                }
                h4{
                    margin: 0;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 5px;
                }
            }
            .nav-post-thumb{
                width: auto;
                position: relative !important;
                display: block;
                float: left;
                overflow: hidden;
                img{
                    width: 130px;
                }
            }
        }
        .nav-next{
            display: inline-block;
            width: calc(50% - 10px);
            text-align: right;
            background: #f5f5f5;
            margin-left: 10px;
            padding: 15px;
            .post-nav-content {
                position: relative;
                margin-right: 145px;
                top: 0px;

                a{
                    color: $color__theme;
                    font-size: 15px;
                }

                h4{
                    margin: 0;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 5px;
                }
            }
            .nav-post-thumb{
                width: auto;
                position: relative !important;
                display: block;
                float: right;
                overflow: hidden;
                img{
                    width: 130px;
                }
            }
        }
    }
}

.single-event-wrap{
    .event-meta{
        padding: 10px;
        border: 1px solid #eee;
        .event-single-meta {
            width: 100%;
            display: block;
            border: 1px solid #eee;
            margin-bottom: 10px;
            position: relative;

            &:last-child{
                margin-bottom: 0;
            }

            &:before{
                position: absolute;
                top: 0;
                left: 0;
                background: #f5f5f5;
                height: 100%;
                width: 40%;
                content: "";
                z-index: -1;
            }

            .event-title {
                width: 40%;
                float: left;
                text-align: center;
                display: table;
                height: 100%;

                h4{
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 0;
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    padding-top: 13%;
                }
            }
            .meta-desc {
                width: calc(60% - 10px);
                display: inline-block;
                padding: 12px 20px;
                text-align: center;
            }
        }
    }
    .event-map {
        margin-top: 25px;
    }
}
