
.callout-item.icon-top{
    text-align: center;
    position: relative;
    .callout-icon{
        i{
            font-size: 48px;
            color: $color__theme;
        }
    }
    h3 {
        margin: 0;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 14px;
        margin-bottom: 7px;
        word-wrap: break-word;
    }
}
.callout-icon img {
    max-width: 65px;
    margin-bottom: 15px;
}


.callout-item.icon-left{
    text-align: left;
    .callout-icon{
        i{
            font-size: 48px;
            color: $color__theme;
        }
        float:left;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 7px;
        word-wrap: break-word;
    }

    .callout-description{
        margin-left: 75px;
    }
}


.callout-item.icon-right{
    text-align: right;
    .callout-icon{
        i{
            font-size: 48px;
            color: $color__theme;
        }
        float:right;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 7px;
        word-wrap: break-word;
    }

    .callout-description{
        margin-right: 70px;
    }

}

.callout-item.boxed-style{
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 30px 17px;
    background-color: #f5f5f5;
    position: relative;
    border-bottom: 4px solid $color__theme;

    &:hover,&:focus{
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    }
}

.icon-large i{
    font-size: 60px !important;
}
.icon-med i{
    font-size: 45px !important;
}
.icon-small i{
    font-size: 30px !important;
}
.callout-sec .callout-item.icon-bg-color .callout-icon {
    width: 70px;
    height: 70px;
    background: $color__theme;
    color: #fff !important;
    font-size: 31px !important;
    display: block;
    margin: 0 auto;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
}
.callout-sec .callout-item.icon-bg-color i {
    color: #fff !important;
    font-size: 31px !important;
}
.callout-sec .callout-item.icon-left.icon-bg-color .callout-description {
    margin-left: 100px;
}

// Fancybox
.fancybox-sec{
    // -webkit-transform: translateY(-20px);
    // -moz-transform: translateY(-20px);
    // -ms-transform: translateY(-20px);
    // -o-transform: translateY(-20px);
    // transform: translateY(-20px);
}
.fancybox-item {
    width: 33.33%;
    float: left;
    text-align: left;
    padding: 55px 45px;
    background: #7c8fea;
    position: relative
}
.fancybox-item i {
    color: rgba(255, 255, 255, 0.15);
    font-size: 84px;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 46px;
}
.fancybox-item a.readmore {
    color: #fff;
    padding: 2px 10px;
    margin-top: 13px;
    display: inline-block;
    text-decoration: none;
    background: #7a90ff;
    span{
        margin-left: 10px;
    }
}
.fancybox-item:nth-child(2) {
    background: #7589ec;
}
.fancybox-item:nth-child(3) {
    background: #7b8ff5;
}
.fancybox-item h3 {
    color: #fff;
    margin-top: 0;
    font-weight: 600;
    font-size: 25px;
}
.fancybox-item p{
    color: #fff;
}
.fancybox-item span {
    color: rgba(255, 255, 255, 0.15);
    font-size: 84px;
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 46px;
    font-family: Poppins;
    font-weight: 700;
}
