.callout-sec{
    .row{
        margin-bottom: 60px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .callout-item{
        text-align: left;
        .callout-icon{
            i{
                font-size: 48px;
                color: $color__theme;
            }
        }
        h3 {
            margin: 0;
            font-size: 20px;
            text-transform: capitalize;
            margin-top: 14px;
            margin-bottom: 7px;
        }
    }
}
