.tilter {
    display: block;
    position: relative;
    color: #fff;
    flex: none;
    perspective: 1000px;
}

.tilter * {
    pointer-events: none;
}

.tilter:hover,
.tilter:focus {
    color: #fff;
    outline: none;
}

/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
    will-change: transform;
}*/

.tilter__figure,
.tilter__image {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
    transition: transform 0.2s ease-out;
}

.tilter__figure {
    position: relative;
}

.tilter__figure::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    path{
        width: 100%
    }
}

.tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
}

.tilter__deco--lines {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

.tilter__caption {
    width: 100%;
    padding: 3em 2em;
    text-align: left;
    position: absolute;
    bottom: 0;
    color: #fff;
    -webkit-transform: translateY(40%) !important;
    transform: translateY(40%) !important;
    -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tilter__title {
    margin: 0;
    font-weight: normal;
    font-size: 29px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.7) 0 10px 13px;
}
figure.tilter__figure:before {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.tilter__description {
    margin: 1em 0 0 0;
    font-size: 16px;
    -webkit-transition: 0.6s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
}
.tilter:hover .tilter__description{
    opacity: 1;
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.tilter:hover .tilter__caption,.tilter:hover .tilter__description{
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Individual styles */

/* Example 1 (Default) */
.tilter--1 .tilter__figure::before {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Example 2 (thicker lines, overlay) */
.tilter--2,
.tilter--2:hover,
.tilter--2:focus {
    color: #2e27ad;
}

.tilter--2 .tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(245, 239, 40, 0.6), rgba(164, 22, 169, 0.6));
}

.tilter--2 .tilter__deco--lines {
    stroke: #2e27ad;
    stroke-width: 4px;
}

/* Example 3 (no lines, overlay hard-light) */
.tilter--3 .tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(205, 81, 220, 0.6), rgba(41, 94, 230,0.5));
}

.tilter--3 .tilter__caption {
    padding: 2em;
    text-align: right;
    text-shadow: 0.1em 0.8em 1em rgba(0,0,0,0.35);
}

/* Example 4 (caption sliding in) */
.tilter--4 .tilter__deco--overlay {
    background-image: linear-gradient(20deg, rgb(214, 100, 40), rgba(46, 39, 173, 0.58), rgba(53, 74, 165, 0.6));
}

@media screen and (min-width: 30em) {
    .tilter--4 .tilter__deco--lines {
        transform: scale3d(0.8,0.8,1);
        transition: transform 0.4s;
    }
    .tilter--4:hover .tilter__deco--lines {
        transform: scale3d(1,1,1);
    }
    .tilter--4 .tilter__title,
    .tilter--4 .tilter__description {
        transform: translate3d(0,80px,0);
        opacity: 0;
        transition: transform 0.4s, opacity 0.4s;
    }
    .tilter--4:hover .tilter__description {
        transition-delay: 0.1s;
    }
    .tilter--4:hover .tilter__title,
    .tilter--4:hover .tilter__description {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/* Example 5 (line animating) */
.tilter--5 .tilter__deco--lines path {
    stroke-dasharray: 1270;
    stroke-dashoffset: 1270;
    transition: stroke-dashoffset 0.7s;
}

.tilter--5:hover .tilter__deco--lines path {
    stroke-dashoffset: 0;
}

.tilter--5 .tilter__figure::before {
    box-shadow: none;
}

/* Example 6 (different line position) */
.tilter--6,
.tilter--6:hover,
.tilter--6:focus {
    color: #2e27ad;
}

.tilter--6 .tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(46, 39, 173, 0.2), rgba(255, 186, 59, 0.58));
}

.tilter--6 .tilter__deco--lines {
    stroke: #2e27ad;
    stroke-width: 6px;
    top: -50px;
    left: -50px;
}

.tilter--6 .tilter__caption {
    padding: 0 4em 5.5em 1em;
}

.tilter--6 .tilter__figure::before {
    box-shadow: none;
}

/* Example 7 (different line) */
.tilter--7 .tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(93, 203, 106, 0.48), rgba(59, 239, 255, 0.58));
}

.tilter--7 .tilter__deco--lines {
    stroke-width: 20px;
    transform: scale3d(0.9,0.9,1);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.tilter--7:hover .tilter__deco--lines {
    opacity: 1;
    transform: scale3d(1,1,1);
}

.tilter--7 .tilter__figure::before {
    box-shadow: none;
}

/* Example 8 (different line) */
.tilter--8 {
    perspective: none;
}

.tilter--8 .tilter__figure {
    transform-style: flat;
}

.tilter--8 .tilter__deco--lines {
    stroke: #9255ae;
    stroke-width: 6px;
    mix-blend-mode: color-burn;
}

.tilter--8 .tilter__caption {
    color: #9255ae;
    mix-blend-mode: color-burn;
}

.tilter--8 .tilter__figure::before {
    box-shadow: none;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tilter__figure{
    background: url(../img/photo1.jpg);
    background-size: cover;
    height: 400px;

}
.tilter.tilter--1:hover .tilter__figure:after{
    opacity: 1;
}
figure.tilter__figure:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border: 1px solid #fff9;
    transition: all 0.5s ease 0s;
}



.classic-simple-hover.box {
    position: relative;
    overflow: hidden;
    background: url(../img/photo1.jpg);
    background-size: cover;
    height: 350px;
}
.classic-simple-hover.box .box-heading{
    width: 90%;
    position: absolute;
    bottom: 25px;
    left: 5%;
    background: $color__theme;
    opacity: 0.9;
    padding: 10px 60px 10px 25px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.classic-simple-hover.box:hover .box-heading{
    left: 100%;
}
.classic-simple-hover.box .box-heading:after{
    content: "\f105";
    font-family: fontawesome;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 13px;
    right: 11px;
    background: #20211c;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.classic-simple-hover.box .title{
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
.classic-simple-hover.box .post{
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 5px;
}
.classic-simple-hover.box .boxContent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 30px 35px;
    background: $color__theme;
    transition: all 0.3s ease 0s;
}
.classic-simple-hover:hover .boxContent{
    left: 0;
}
.classic-simple-hover.box .description{
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
.classic-simple-hover.box .read{
    display: inline-block;
    padding: 10px 20px;
    background: #20211c;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 35px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}
.classic-simple-hover.box .read:hover{
    text-decoration: none;
    background: #fff;
    color: $color__theme;
}
.classic-simple-hover.box .read i{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}



.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
    padding: 1em 2em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
    margin-top: 10px;
    font-size: 21px;
    padding-bottom: 10px;
    color: #232a34;
    a{
     color: #232a34;
    }
}
.card .text {
    display: none;
    margin: 0;
}
.card.cover-box:hover .text,.card.cover-box:hover .read{
    display: block;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.cover-box .wrapper {
    background: url(../img/photo1.jpg);
    background-size: cover;
}
.cover-box .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.8em;
}
.cover-box .date span {
  display: block;
  text-align: center;
}
.cover-box .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.cover-box .date .month {
  text-transform: uppercase;
}
.cover-box .date .month,
.cover-box .date .year {
  font-size: 12px;
}
.cover-box .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
    min-height: 185px;
    .read{
        padding: 10px 20px;
        width: 100%;
        background: #7a90ff;
        -webkit-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
        display: none;
        color: #fff;
        text-align: center;
        margin-top: 20px;
    }
}
.cover-box .title a {
  color: #444;
}
.cover-box .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.cover-box .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.cover-box .menu-button span::after, .cover-box .menu-button span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.cover-box .menu-button span::before {
  left: -10px;
}
.cover-box .menu-button span::after {
  right: -10px;
}
.cover-box .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cover-box .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}
.cover-box .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}
.cover-box .menu-content span {
  top: -10px;
}

.full-image-box .wrapper {
    background: url(../img/photo1.jpg);
    background-size: cover;

    &:before{
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
    }
}
.full-image-box .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.full-image-box .menu-content {
  float: right;
}
.full-image-box .menu-content li {
  margin: 0 5px;
  position: relative;
}
.full-image-box .menu-content span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.full-image-box .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.full-image-box .title a {
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    font-weight: 500;
    a{
     text-decoration: none;
    }
}
.full-image-box .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.full-image-box .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.full-image-box .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
.card .text {
    display: none;
    margin: 0;
}
.card.full-image-box:hover .text,.card.full-image-box:hover .read{
  display: block;
}
.full-image-box .content {
    .read{
        padding: 10px 20px;
        width: 100%;
        background: #7a90ff;
        -webkit-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
        display: none;
        color: #fff;
        text-align: center;
        margin-top: 20px;
    }
}
