.transparent-listing .card__image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-size: cover;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.transparent-listing .card__image > img {
  display: block;
  margin-bottom: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.transparent-listing .card__image:hover > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.transparent-listing .card__title {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.transparent-listing .card__title:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.transparent-listing .card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.transparent-listing .card__overlay--indigo {
  background: rgba(0, 0, 0, 0.49);
  z-index: 2;
}
.transparent-listing .card__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
  text-align: center;
}

.transparent-listing .card__meta {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    height: 100%;
    border-radius: 4px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px;
}
.transparent-listing .card__meta.transparent-listing .card__meta--last {
  margin-bottom: 0;
}
.transparent-listing .card__meta li {
    color: #f8f8f8;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1em;
    width: 33.33%;
    float: left;
}
.transparent-listing .card__meta li span {
    display: block;
}

.transparent-listing .card__meta li > a {
  color: #f8f8f8;
}
.transparent-listing h2.listing-price{
  display: inline-block;
  color: #fff;
  background: #86bc42;
  font-size: 26px;
  border-radius: 6px;
  padding: 7px 15px;
  margin-top: 0;
}
.transparent-listing li.listing-cat{
    background: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 4px;
    line-height: 23px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    list-style: none;
    a{
      color: #fff;
    }
}
.transparent-listing.card{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    width: 100%;
        &:hover{transform: translate3d(0,-6px,0);
    }
}

.simple-listing.card {
    display: block;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    background: #fff;
    float: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    width: 100%;
        &:hover{transform: translate3d(0,-6px,0);
    }
}

.simple-listing.card .card-image {
  display: block;
  position: relative;
  height: 250px;
  background-image: url('https://4.bp.blogspot.com/-T_k03UFtS8k/U96RDVp8ebI/AAAAAAABF5E/4107zIbo29U/s0/Google+IO+Landscape_HD.jpg');
  background-size: cover;
  background-position: 50% 20%;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:before{
    content: "";
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top,rgba(35,35,37,0.9) 0%,rgba(35,35,37,0.45) 35%,rgba(22,22,23,0) 60%,rgba(0,0,0,0) 100%);
    background-color: rgba(35,35,37,0.2);
    border-radius: 4px 4px 0 0;
    opacity: 1;
  }
}


.simple-listing.card .card-image h1 {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 999;
}
.simple-listing.card .card-image .card-desc{
    position: absolute;
    bottom: 15px;
    left: 25px;
    z-index: 999;
}
.simple-listing.card .card-body {
    background: #fff;
    padding: 0 15px;
    box-sizing: border-box;
    padding: 15px 15px;
    float: left;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    text-align: center;
}

.card.active .card-body {
  bottom: 0;
}

.simple-listing.card .card-body h1 {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  color: #323232;
  font-size: 20px;
}

.simple-listing.card .card-body p {
  display: block;
  overflow: hidden;
  margin: 0;
  color: #737373;
  font-size: 16px;
  text-align: left;
  opacity: 0;
  padding: 40px 0 0 0;
  font-weight: 400;

  transition: padding 0.4s cubic-bezier(.25,.8,.25,1), opacity 0.5s cubic-bezier(.25,.8,.25,1);
  transition-delay: 0.1s;
}

.card.active .card-body p {
  opacity: 1;
  padding: 0;
}
.simple-listing h2.listing-price{
    display: inline-block;
    color: #fff;
    background: #86bc42;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px 13px;
    margin-top: 0;
    margin-bottom: 0;
}
.simple-listing li.listing-cat{
    color: #fff;
    font-size: 13px;
    background: rgba(255,255,255,0.3);
    padding: 4px 13px;
    border-radius: 4px;
    line-height: 23px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    list-style: none;
    a{
        color: #fff;
    }
}
.simple-listing.card .card-body li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1em;
    width: 33.33%;
    float: left;
    span{
        display: block;
        strong{
            color: #666;
        }
    }
}
.simple-listing.card .card-body li > a {
  color: #333;
  font-size: 17px;
  i{
    font-size: 23px !important;
    margin-right: 5px;
  }
}
