.prefooter{
    padding: 65px 0;
    background: #1f252c;
    color: #999;

    .widget-title{
        font-size: 20px;
        text-transform :uppercase;
        color: #fff;
        margin: 0;
        margin-bottom: 15px;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            margin-bottom: 5px;
            a{
                color: #999;
                text-decoration: none;
            }
        }
    }
}
