.product-style1 .product-wrap{
    position: relative;
    .product-top{
        position: relative;

        &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .73;
            content: '';
            background: #7a90ff;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        img{
            width: 100%;
        }
        .product-icons {
            bottom: 40%;
            left: 35px;
            right: 35px;
            margin: 0 auto;
            padding: 10px 0;
            position: absolute;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            z-index: 3;
            text-align: center;

            a{
                color: #555;
                margin-right: 6px;
                text-decoration: none;
                background: #fff;
                padding: 12px;
                border-radius: 50%;
                font-size: 18px;
                &:hover{
                    color: $color__theme;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.product-style1 .product-footer{
    .product-desc{
        text-align: left;
        padding: 20px 15px;

        h3{
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 5px;
            display: inline-block;
        }
    }
    span.rating i {
        font-size: 11px;
    }
    span.rating {
        display: block;
        font-size: 11px;
    }
    .price span {
        font-size: 16px;
        color: #444;
        margin-top: 3px;
        display: block;
        font-weight: 600;
    }
    .price {
        display: inline-block;
        text-align: right;
        float: right;
    }
}
.product-style1 .product-wrap:hover .product-icons {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.product-style1 .product-wrap:hover .product-top:before{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.product-style1 .product-wrap:hover{
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.product-style1 .product-wrap{
    background: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


// product-Style2

.product-style2 .product-wrap{
    position: relative;
    .product-top{
        position: relative;

        &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .73;
            content: '';
            background: #7a90ff;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        img{
            width: 100%;
        }
        .product-icons {
            bottom: 0;
            left: 0;
            width: 100%;
            right: 35px;
            margin: 0 auto;
            position: absolute;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            z-index: 3;
            text-align: center;

            a.add-to-cart {
                font-size: 14px !important;
                width: 50% !important;
                display: inline-block;
                padding: 15px 10px;
                line-height: 20px;
            }
            a{
                color: #fff;
                margin-right: 0px;
                text-decoration: none;
                background: #272e37;
                padding: 16px 12px;
                font-size: 18px;
                width: 25%;
                float: left;
                border-right: 1px solid rgba(221, 221, 221, 0.26);
                &:hover{
                    color: $color__theme;
                }
            }
        }
    }
}
.product-style2 .product-footer{
    .product-desc{
        text-align: center;
        padding: 20px 15px;

        h3{
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
    span.rating i {
        font-size: 11px;
    }
    span.rating {
        display: block;
        color: #dcc423;
        font-size: 11px;
    }
    .price span {
        font-size: 16px;
        color: #444;
        margin-top: 3px;
        display: block;
        font-weight: 600;
    }
}
.product-style2 .product-wrap:hover .product-icons {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.product-style2 .product-wrap:hover .product-top:before{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.product-style2 .product-wrap:hover{
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.product-style2 .product-wrap{
    background: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.product-slider-based .product-wrap{
    outline: 0;
    margin-right: 10px;
    margin-left: 10px;
}


.cat-product-item img {
    width: 125px;
}
.cat-product-item{
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;

    &:last-child{
        margin-bottom: 0;
    }
    .product-img{
        float: left;
        width: 42%;
        margin-right: 15px;
    }
    .product-desc{
        float: left;
        width: 52%;
        h3{
            font-size: 18px;
            margin-bottom: 0;
        }
        span.rating i {
            font-size: 11px;
            color: #dcc423;
        }
        .price span{
            font-weight: 500;
            color: $color__theme;
            font-size: 15px;
            margin-top: 7px;
            display: block;
        }
        .add-cart-btn {
            background: none;
            font-size: 11px;
            color: #444;
            padding: 0;
            margin-top: 10px;
            border: 1px solid $color__theme;
            padding: 5px 8px;
            line-height: 12px;
        }
    }
}
.product-no-hover.product-wrap .product-top:before {
    display: none;
}





.deco {
    pointer-events: none;
}

.deco--title {
    position: absolute;
    top: 0px;
    right: 60px;
    left: 60px;
    height: 100vh;
    background: url(../img/deco.svg) no-repeat center top;
    background-size: 100%;
}

.product-slideshow.slideshow {
    position: relative;
    width: 100vw;
    margin: 10vh 0 5em;
}

.product-slideshow .slide {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    align-items: center;
    width: 100vw;
    text-align: center;
}

.js .product-slideshow .slide {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.product-slideshow .slide.slide--current {
    position: relative;
    visibility: visible;
}

.deco--circle {
    position: absolute;
    top: 0;
    border-radius: 50%;
    background: #f2f5f8;
}

.deco--circle-left {
    right: calc(100% - 140px);
}

.deco--circle-right {
    left: calc(100% - 140px);
}

.deco--circle,
.slide__inner {
    width: 450px;
    height: 450px;
}

.product-slideshow .slide__item {
    position: relative;
    width: 100%;
}

.no-js .slide__item {
    display: none;
}

.slide__inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    pointer-events: auto;
}

.deco--expander {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;
    border-radius: 50%;
    background: #f2f5f8;
}

.product-slideshow .slide__title {
    position: relative;
    text-indent: 4px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #b2b2b4;
}

.product-slideshow .slide__title--preview {
    font-size: 1.05em;
    margin: 2em 0 0 0;
    padding: 0;
    opacity: 0;
    text-align: center;
}

.slide__title--main {
    font-size: 2.5em;
    line-height: 1;
    margin: 0 0 0.25em;
    color: #464653;
}

.slide--current .slide__title--preview {
    opacity: 1;
}

.slide--open .slide__title--main {
    opacity: 1;
}

.slide__price {
    font-weight: bold;
    display: inline-block;
    color: #464653;
    font-size: 25px;
}

.slide__price--large {
    font-size: 1.3em;
    vertical-align: middle;
}

.slide__img {
    position: relative;
    display: block;
    margin: 0 auto;
}

.slide__img--small {
    max-height: 80%;
}

.slide__img--large {
    height: 50vh;
    max-height: 400px;
    margin: 0 auto 3em;
}

.product-slideshow .action {
    font-size: 1.5em;
    line-height: 54px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    background: none;
}

.product-slideshow .action:focus {
    outline: none;
}

.product-slideshow .action--open {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 40px 40px 0;
    color: #fff;
    border-radius: 50%;
    background: #6cd84e;
    -webkit-transition: -webkit-transform 0.1s, background 0.1s, opacity 0.1s;
    transition: transform 0.1s, background 0.1s, opacity 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.product-slideshow .action--open:focus,
.product-slideshow .action--open:hover {
    background: #464653;
    -webkit-transform: scale3d(1.0865, 1.0865, 1);
    transform: scale3d(1.0865, 1.0865, 1);
}

.slide--open .action--open {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
}

.product-slideshow .action--close {
    position: fixed;
    z-index: 1001;
    top: 10px;
    right: 15px;
    color: #6cd84e;
    -webkit-transition: -webkit-transform 0.1s, opacity 0.1s, color 0.1s;
    transition: transform 0.1s, opacity 0.1s, color 0.1s;
}

.action--close:focus,
.action--close:hover {
    color: #464653;
}

.slide--open ~ .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0.5s, 0.5s, 0s;
    transition-delay: 0.5s, 0.5s, 0s;
}

.action--close,
.slide--close ~ .action--close {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.js .slide__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
}

.js .slide--open .slide__content {
    pointer-events: auto;
    opacity: 1;
}

.slide__content-scroller {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 2em;
    position: relative;
}

.js .slide__content-scroller {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
}

.slide__description {
    font-size: 1em;
    font-weight: bold;
    margin: 0.25em auto 3em;
    text-indent: 4px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #acacb3;
}

.product-slideshow .button {
    font-weight: bold;
    margin: 0 1em;
    padding: 0.5em 1em;
    color: #fff;
    border: none;
    border-radius: 2px;
    background: #6cd84e;
}

.product-slideshow .button:focus,
.product-slideshow .button:hover {
    outline: none;
    background: #464653;
}

.product-slideshow .navbutton {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin: 0;
    margin: -50px 0 0 0;
    padding: 0;
    border: none;
    background: none;
}

.product-slideshow .navbutton__line {
    -webkit-transition: stroke 0.2s;
    transition: stroke 0.2s;
}

.product-slideshow .product-slideshow .navbutton:focus {
    outline: none;
}

.product-slideshow .product-slideshow .navbutton:hover .navbutton__line {
    stroke: #464653;
}

.product-slideshow .product-slideshow .navbutton--next {
    -webkit-transform: translate3d(220px,-125px,0);
    transform: translate3d(220px,-125px,0);
}

.product-slideshow .navbutton--prev {
    -webkit-transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
    transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
} /* +12 of difference */

/* Helper classes */

.lockscroll {
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
}

.noscroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
}

.noscroll .deco--expander {
    display: none;
}

.scrollable {
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}

.scrollable .slide__content-scroller {
    position: relative;
}

@media screen and (max-width: 50em) {
    .deco--title {
        right: -50px;
        left: -50px;
    }
    .deco--circle,
    .slide__inner {
        width: 260px;
        height: 260px;
    }
    .deco--expander {
        margin: -130px 0 0 -130px;
    }
    .deco--circle-left {
        right: calc(100% - 50px);
    }
    .deco--circle-right {
        left: calc(100% - 50px);
    }
    .product-slideshow .slideshow {
        margin-top: 0;
    }
    .action--open {
        margin: 0 12px 12px 0;
    }
    .slide__content-scroller {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .slide__img--large {
        margin: 0 auto 2em;
    }
    .slide__title--preview,
    .slide__title--main {
        font-size: 0.85em;
    }
    .slide__description {
        font-size: 0.5em;
    }
    .navbutton--next {
        -webkit-transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
        transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
    }
    .navbutton--prev {
        -webkit-transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
        transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
    }
}
.navbutton--next {
    -webkit-transform: translate3d(220px,-125px,0);
    transform: translate3d(220px,-125px,0);
}
.product-showcase-slider{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.close {
    position: absolute;
    top: 0px;
    font-size: 21px;
    right: 5px;
    color: #999;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 99;
}
.modal-frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    visibility:hidden;
}

.modal-body {
    width: 900px;
    border-radius: 3px;
    background: #FFF;
    height: 650px;
    z-index: 100;
    background: #FFF;
    margin: 30px auto;
}


.modal-inner {
    opacity:0;
}


/**
 *  Modal overlay
*/

.modal-overlay {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  visibility:hidden;
  opacity:0;
  background:#333;
  -webkit-transition:.15s ease-in-out;
  -moz-transition:.15s ease-in-out;
  -ms-transition:.15s ease-in-out;
  -o-transition:.15s ease-in-out;
  transition:.15s ease-in-out;
}

.modal-inner {
}
.modal-content {
    box-shadow: none;
    border: none;
}
/**
 *  Enter states
 */

.modal-frame.active {
  visibility:visible;
  height:inherit;
  display:block;
}

.modal-frame.active .modal-body {
  -webkit-animation: popperIn .45s;
  -moz-animation: popperIn .45s;
  -ms-animation: popperIn .45s;
  -o-animation: popperIn .45s;
  animation: popperIn .45s;
}

@-webkit-keyframes popperIn {
  0% {
    opacity:0;
    -webkit-transform:scale(1.06);
  }
  40% { opacity:1; }

  100% {
    -webkit-transform:scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity:0;
    -moz-transform:scale(1.06);
  }
  40% { opacity:1; }

  100% {
    -moz-transform:scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity:0;
    transform:scale(1.06);
  }
  40% { opacity:1; }

  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity:1;
    -webkit-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -webkit-transform:scale(1.05);
  }

  100% {
    opacity:0;
    -webkit-transform:scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity:1;
    -moz-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -moz-transform:scale(1.05);
  }

  100% {
    opacity:0;
    -moz-transform:scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity:1;
    transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    transform:scale(1.05);
  }

  100% {
    opacity:0;
   transform:scale(1.15);
  }
}

.modal-frame.active .modal-inner {
    opacity:1;
    -webkit-transform: scale(1);
    -webkit-transition:.15s ease-in-out;
    -webkit-transition-delay:.13s;
    -moz-transform: scale(1);
    -moz-transition:.15s ease-in-out;
    -moz-transition-delay:.13s;
    -ms-transform: scale(1);
    -ms-transition:.15s ease-in-out;
    -ms-transition-delay:.13s;
    -o-transform: scale(1);
    -o-transition:.15s ease-in-out;
    -o-webkit-transition-delay:.13s;
    transform: scale(1);
    transition:.15s ease-in-out;
    transition-delay:.13s;

}

.modal-frame.active .modal-overlay {
  opacity:.5;
  visibility:visible;
}

/**
 *  Leave States
*/
.modal-frame.leave .modal-body {
    opacity:0;
    -webkit-animation: popperOut .5s;
    -webkit-transition:.3s ease-in-out;
    -webkit-transition-delay:.2s;
    -webkit-transform:scale(.95);
    -moz-animation: popperOut .5s;
    -moz-transition:.3s ease-in-out;
    -moz-transition-delay:.2s;
    -moz-transform:scale(.95);
    -ms-animation: popperOut .5s;
    -ms-transition:.3s ease-in-out;
    -ms-transition-delay:.2s;
    -ms-transform:scale(.95);
    animation: popperOut .5s;
    transition:.3s ease-in-out;
    transition-delay:.2s;
    transform:scale(.95);
}

.modal-frame.leave .modal-inner {
    opacity:0;
    -webkit-transform:scale(.95);
    -webkit-transition:.15s ease-in-out;
    -moz-transform:scale(.95);
    -moz-transition:.15s ease-in-out;
    -ms-transform:scale(.95);
    -ms-transition:.15s ease-in-out;
    -o-transform:scale(.95);
    -o-transition:.15s ease-in-out;
    transform:scale(.95);
    transition:.15s ease-in-out;
}
