.testimonial-content.modern-style{
    text-align: center;
    z-index: 99;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    .testimonial-slide{
        outline: 0;
        h3{
            font-size: 18px;
            font-weight: 600;
            color: #333;
            margin-top: 35px;

            small{
                font-size: 12px;
                color: #333;
            }
        }
    }
    .client-testimonial{
        position: relative;
        padding-bottom: 13px;
        padding: 0 50px;
        text-align: center;
        margin: 0 auto;
        color: #333;
        line-height: 24px;
    }
    i{
        font-size: 37px;
        display: block;
        color: #7a90ff;
        width: 55px;
        height: 54px;
        margin: 0 auto;
        background: #fff;
        border-radius: 50%;
        line-height: 60px;
        margin-bottom: 20px;
    }
}

.testimonial-img-wrap.modern-style{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    .client-img{
        text-align: center;
        display: inline-block;
        outline: 0;
        float: none;
        img{
            width: 55px;
            margin: 0 auto;
        }
    }
    .slick-current.slick-center img{
        width: 80px;
    }
}


.testimonial-content.boxed-style{
    text-align: center;
    z-index: 99;
    position: relative;
    .testimonial-slide{
        outline: 0;
        h3{
            font-size: 18px;
            font-weight: 600;
            color: #444;
            margin-top: 20px;

            small{
                font-size: 12px;
                color: #666;
            }
        }
    }
    .client-testimonial{
        position: relative;
        padding-bottom: 13px;
        padding: 0 20px;
        text-align: center;
        margin: 0 auto;
        color: #666;
        line-height: 24px;
        border-radius: 4px;
        background: #fff;
        margin: 20px !important;
        padding: 20px !important;
    }
    .client-img{
        text-align: center;
        display: inline-block;
        outline: 0;
        float: none;
        position: relative;
        img{
            width: 55px;
            margin: 0 auto;
        }

        i{
            color: #7a90ff;
            font-size: 28px;
            position: absolute;
            top: -10px;
            left: 41px;
        }
    }
}



.testimonial-content.shadow-style{
    text-align: center;
    z-index: 99;
    position: relative;
    .testimonial-slide{
        background: #fff;
        -webkit-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.07);
        box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.07);
        outline: 0;
        padding: 20px;
        margin: 20px;
        border-radius: 4px;
        h3{
            font-size: 20px;
            font-weight: 600;
            color: $color__theme;
            margin-top: 15px;

            small{
                font-size: 12px;
                color: #666;
                display: block;
                margin-top: 10px;
            }
        }
    }
    .client-testimonial{
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: #666;
        line-height: 24px;
        p{
            font-size: 15px;
        }
    }
    .client-img{
        text-align: center;
        display: inline-block;
        outline: 0;
        float: none;
        position: relative;
        margin-bottom: 10px;
        img{
            width: 70px;
            margin: 0 auto;
        }
    }
}

.testimonial-content.classic-style{
    text-align: center;
    z-index: 99;
    position: relative;
    .testimonial-slide{
        outline: 0;
        margin-right: 20px;

        .description{
            padding: 15px;
            position: relative;
            box-shadow: 3px 3px 3px 0 rgba(182,193,222,0.3);

            &:after{
                filter: drop-shadow(2px 2px 1px rgba(182,193,222,0.3));
                position: absolute;
                left: 40px;
                bottom: -18px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 20px 0 0;
                border-color: #fff transparent transparent;
                content: " ";
            }
        }
        .pic{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin:20px 30px;
            display: inline-block;
            float: left;

            img{
                width: 100%;
                height: auto;
            }
        }

        .testimonial-title{
            display: inline-block;
            text-transform: capitalize;
            margin-top: 35px;
            float: left;

            span{
                color: $color__theme;
                display: block;
                font-size:17px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            small{
                display: block;
                font-size:14px;
            }
        }
    }
}

.column-based.two-column .testimonial-slide{
    width: 50%;
    float: left;
}
.column-based.three-column .testimonial-slide{
    width: 33.33%;
    float: left;
}
.column-based.one-column .testimonial-slide{
    width: 100%;
    margin: 0 auto;
}
