section.section.portfolio-sec {
    background: #f5f5f5;
}
.portfolio-filter.portfolio-classic{
  position: relative;
  .box-content{
    transition: all 0.5s ease 0s;
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;

      &:before{
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      display: block;
      background: #000;
      z-index: 9;
      }
  }
  .box:hover .box-content{
      top: 0;
      left: 0;
      opacity: 1;
  }
  .title{
    font-size: 19px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 25px;
    z-index: 99;
    position: relative;
    }
    small{
        color: #fff;
    }
 i{
    font-size: 24px;
    margin-top: 26%;
    color: #444;
    z-index: 99;
    position: relative;
    text-align: center;
    height: 47px;
    width: 47px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 50%;
    line-height: 49px;
    display: inline-block;
    margin-right: 15px;
  }

}


.portfolio-filter .button-group .button {
    border-radius: 0;
    margin-left: 0;
}
.portfolio-filter .button-group{
    margin-bottom: 30px;
    text-align: center;
}
.portfolio-filter .button-group:after {
    content: '';
    display: block;
    clear: both;
}

.portfolio-filter .button {
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 5px 11px;
    text-transform: uppercase;
    background: none;
    border-radius: 50px !important;
    border-color: transparent;
    color: #333;
}

.portfolio-filter .button.is-checked {
  color: $color__theme;
}

/* ---- isotope ---- */

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-col-3 {
    width: calc(33.3333333% - 25px);
    height: auto;
    margin: 12px;
    float: left;
    position: relative;
    max-height: 800px;
    overflow: hidden;
}
.grid{
  .element-item{
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 990px){
  .grid-col-3{
    width: 48%;
  }
}


// Portfolio modern

.portfolio-modern .box{
    position: relative;
    overflow: hidden;
}
.portfolio-modern .box .pic img{
    width: 100%;
    height: auto;
}
.pic:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.portfolio-modern .box .portfolio-action{
     width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 30%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.40s linear 0s ;
 i{
    font-size: 24px;
    color: #444;
    z-index: 99;
    position: relative;
    text-align: center;
    height: 47px;
    width: 47px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 50%;
    line-height: 49px;
    display: inline-block;
    margin-right: 15px;
  }
}
.portfolio-modern .box:hover .portfolio-action,.portfolio-modern .box:hover .pic:after{
    opacity: 1;
}
.portfolio-modern .box .over-layer{
    width: 100%;
    padding: 25px 15px;
    background: $color__theme;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: bottom 0.40s linear 0s ;
}
.portfolio-modern .box:hover .over-layer{
    bottom: 0;
}
.portfolio-modern .box .post{
    margin:0;
    float: left;
}
.portfolio-modern .box .post a{
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.portfolio-modern .box .post a:hover{
    text-decoration: none;
}
.portfolio-modern .box .post small{
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
    color: #fff;
    font-size: 12px;
}
.portfolio-modern .box .likes{
    float: right;
}



// Simple style @ortfolio

.portfolio-simple .box{
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.portfolio-simple .box .box-content{
    width: 100%;
    height: 100%;
    line-height: 22px;
    text-align: center;
    background: $color__theme;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0px, 0px);
}
.portfolio-simple .box .title{
    font-size: 21px;
    margin-bottom: 15px;
    color: #fff;
    margin-top: 20%;

    small{
        display: block;
        font-size: 14px;
        color: #fff;
        margin-top: 10px;
    }
}
.portfolio-simple .box img{
    width: 100%;
    height: auto;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.portfolio-simple .box:hover img{
    transform: translateY(100%);
}
.portfolio-simple .box .portfolio-action{
     width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    transition: opacity 0.40s linear 0s ;
 i{
    font-size: 24px;
    color: #444;
    z-index: 99;
    position: relative;
    text-align: center;
    height: 47px;
    width: 47px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 50%;
    line-height: 49px;
    display: inline-block;
    margin-right: 15px;
  }
}
